[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
envparse = "*"
pytest = "*"
sentry-sdk = "==0.7.9"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
databases = {extras = ["mysql"],version = "*"}
Sphinx = "*"
sphinxcontrib-openapi = "*"
aiohttp = "*"

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
"flake8" = "*"
